
.article {
    max-width: var(--width-2xl);
    margin-inline: auto;
   
    
}

.article__header {
    margin-bottom: var(--spacing-4);
}

.article__header .article-metadata {
    margin-bottom: var(--spacing-2);
}

.articles-section {
    max-width: var(--width-4xl);
    margin-inline: auto;
}

.articles-section__title {
    margin-bottom: var(--spacing-8);
    
}

.article-summary{
    max-width: var(--width-2xl);
    display: grid;
    grid-template-columns: column;
}

.article-metadata {
    margin-bottom: var(--spacing-3);
}

.article-metadata__date {
    margin-right: var(--spacing-4);
}

.article-summary__content {
    display: block;
}

.article-summary__title {
    margin-top: 0;
    margin-bottom: var(--spacing-5);
    color: var(--foreground);
}

.article-summary__title:hover {
    color: var(--primary);
}

.article-summary__text {
    margin-top: var(--spacing-5);
    margin-bottom: 0;
    color: var(--foreground);
}

.article-summary__footer {
    margin-top: var(--spacing-8);
}

.summary-content {
    text-decoration: none;
}


.article__image {
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-8);
    width: 100%;
    max-width: 100%;
}

.articles-section__lead {
    color: var(--muted-foreground);
    font-family: var(--text);
    font-size: var(--font-lg);
    font-weight: 400;
    line-height: var(--leading-8);
    text-align: left;
}

@media (min-width: 72rem) {
    .article-summary {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: var(--spacing-8);
        width: 1440px;
        max-width: 100%;
        margin: 0;
        align-items: center;
    }

    .article__image {
        width: 100%;
        height: 240px;
    }

    .article-summary--info h4 {
        font-family: var(--text);
        font-size: var(--font-lg);
        font-weight: 600;
        line-height: var(--leading-6);
        text-align: left;
        margin-bottom: 20px;

    }
   
    .article-summary--info p {
        font-family: var(--text);
        font-size: var(--font-sm);
        font-weight: 400;
        line-height: var(--leading-6);
        text-align: left;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .article-metadata {
        margin-bottom: 10px;
    }

    .article-summary__footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


