.logo-cloud--header {
    text-align: center;
    max-width: var(--width-2xl);
    margin-bottom: var(--spacing-16);
    margin-left: auto;
    margin-right: auto;
}

.logo-cloud--header--tittle {
    color: var(--foreground);
   
    font-family: var(--display);
    font-size: var(--font-4xl);
    font-weight: 600;
    line-height: var(--leading-none);
    margin-bottom: var(--spacing-6);
}

.logo-cloud--header--leading {
    color: var(--foreground);

    font-family: var(--text);
    font-size: var(--font-lg);
    font-weight: 400;
    line-height: var(--leading-8);
}

.logo-cloud--logotipos {
    display: grid;
    justify-content: center;
    gap: var(--spacing-8);
}

.nombre__logo {
    display: flex;
    align-items: center; 
    
    margin-right: 12px;
    font-family: var(--display);
    font-size: var(--font-3xl);
    font-weight: 700;
}

.logo-cloud--logotipos .nombre__logo {
    margin-right: 12px;
}

.logo-cloud--logotipos img {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:48rem) {
    .logo-cloud--logotipos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}