.pricing__header {
    text-align: center;
    max-width: var(--width-2xl);
    margin-bottom: var(--spacing-16);
    margin-left: auto;
    margin-right: auto;
}



.pricing__tittle {
    color: var(--foreground);
   
    font-family: var(--display);
    font-size: var(--font-4xl);
    font-weight: 600;
    line-height: var(--leading-none);
    margin-bottom: var(--spacing-6);
}

.pricing__leading {
    color: var(--foreground);

    font-family: var(--text);
    font-size: var(--font-lg);
    font-weight: 400;
    line-height: var(--leading-8);
}

.pricing__panel-left {
    padding: var(--spacing-6);
}

.pricing__panel-right {
    padding: var(--spacing-2);
}

.pricing__content {
    border-radius: var(--rounder-3xl);
    border: 1px solid var(--border);
}

@media (min-width: 80rem) {
    .pricing__content {
        display: flex;
    }

    .pricing__content > * {
        flex: 1 1 0 ;
    }

    .pricing__panel-right {
        max-width: var(--width-md);
    }

    .pricing__price-bg {
        height: 100%;
    }
}

.pricing__subtittle {
    color: var(--foreground);

    font-family: var(--text);
    font-size: var(--font-2xl);
    font-weight: 700;
    line-height: var(--leading-8);
    letter-spacing: -0.025 em;
    margin-bottom: var(--spacing-6);
}

.pricing__sub-description {
    color: var(--muted-foreground);

    font-family: var(--text);
    font-size: var(--font-base);
    line-height: var(--leading-7);

    margin-bottom: var(--spacing-10);
}

.pricing__include-tittle {
    color: var(--primary);
    font-family: var(--text);
    font-size: var(--font-sm);
    font-weight: 600;
    line-height: var(--leading-6);
    text-align: left;
    margin-bottom: var(--spacing-8);
}

.pricing__include-list {
    display: grid;
   /* grid-template-columns: ; */
   gap: var(--spacing-6);
   /*list-style-image: url(/assets/img/check.svg);*/
   list-style-type: none;
}

.pricing__include-list li {
    padding-left: 36px;
    background: url("/assets/img/check.svg") no-repeat left center;
}

@media (min-width: 48rem) {
    .pricing__include-list {
        grid-template-columns: 1fr 1fr;
    }
}

.pricing__price-bg {
    border-radius: var(--rounder-2xl);
    background: var(--muted);
    padding: var(--spacing-10) 0px;
    text-align: center;
}

.pricing__price-desc {
    color: var(--muted-foreground);
    font-weight: 600;
    line-height: var(--leading-6);
    margin-bottom: var(--spacing-6);
}

.pricing__price {
    font-size: var(--font-5xl);
    font-weight: 700;
    line-height: var(--leading-none);
    letter-spacing: var(--traking-tight);
    margin-bottom: var(--spacing-10);
}

.pricing__price-text {
    color: var(--muted-foreground);
    font-size: var(--font-base);
    font-weight: 600;
    line-height: var(--leading-6);
    margin-left: var(--spacing-2);
}

.pricing__price-container {
    max-width: var(--with-xs);
    padding: 0px var(--spacing-8);
    margin-left: auto;
    margin-right: auto;
}

.pricing__price-footer {
    color: var(--muted-foreground);
    font-size: var(--font-xs);
    line-height: var(--leading-5);
}

.pricing__price-button {
    margin-bottom: var(--spacing-6);
}