/* styles/5-objects/objects.css */
 /* sections */
.section {
    padding-block: var(--spacing-12);
  }

  .section-sm {
    padding-block: var(--spacing-6);
  }

  .section-lg {
    padding-block: var(--spacing-24);
  }

  .section-xl {
    padding-block: var(--spacing-36);
  }

/* containers */
   
  .container {
    --padding: 16px;
    padding-inline: var(--padding);
    max-width: var(--width-7xl);
    margin-inline: auto;
  }

  .button__top {
    border-radius: 9999px;
    background-color: var(--primary);
    color: initial;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Fixed Positioning */
    position: fixed;
    bottom: 16px;
    right: 16px;
  }


  @media (min-width: 40rem) {
      .container {
        --padding: 24px;
      }
  }

  @media (min-width: 64rem) {
      .container {
        --padding: 32px;
      }

      .button__top {
        position: fixed;
        bottom: 16px;
        right: 246px;
      }
  }

 
